# Dependencias
node_modules/
package-lock.json
yarn.lock

# Variables de entorno
.env
.env.local
.env.production

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Archivos temporales
tmp/
temp/
dist/
build/